@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&family=Oxygen:wght@300;400;700&display=swap');

:root {
    --t-font: 'Roboto Slab', serif;
    --blue: #3498db;
}
body {
    font-family: 'Oxygen', sans-serif;
    padding-top: 60px;
    scroll-behavior: smooth;
}
.navbar-brand.logo {
    font-family: var(--t-font);
    font-weight: 900;
    font-size: 2.25rem;
    color: var(--blue);
}
.title {
    font-size: 2.5rem;
    text-align: center;
    font-family: var(--t-font);
}
#exp {
    background-color: var(--blue);
    color: white;
    padding: 10px 0;
}
#exp .exp-title {
    font-size: 24px;;
    font-weight: 700;
}
#exp h5 {
    font-size: 14px;
    font-weight: 700;
}
#exp p {
    font-size: 14px;
}
footer {
    background-color: var(--blue);
}
.social-icons .btn {
	margin-right:15px
}
.social-icons {
    padding:30px;
    text-align: center;
}
.social-icons .btn.btn-clear {
	border:1px solid #fff
}
.btn-round {
	border-radius:50%;
	width:50px;
	height:50px;
	display:inline-block;
	padding:0
}
.btn-round i {
	font-size:20px;
	top:15px;
	position:relative
}
.btn.btn-clear {
	border:1px solid #fff;
	color:#fff;
	background:0 0;
	background-color:none;
	font-weight:700;
	-webkit-transition-duration:.8s;
	-moz-transition-duration:.8s;
	-o-transition-duration:.8s;
	transition-duration:.8s;
	-webkit-transition-property:-webkit-transform;
	-moz-transition-property:-moz-transform;
	-o-transition-property:-o-transform;
	transition-property:transform
}
.btn.btn-clear.selected,.btn.btn-clear:hover {
	background:#fff;
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg)
}
.btn-twitter:hover {
	color:#2BA9E0
}
.btn-facebook:hover {
	color:#204385
}
.btn-dribbble:hover {
	color:#D92C85
}
.btn-instagram:hover {
	color:#BAB1A8
}
.btn-linkedin:hover {
	color:#015786
}